.photoGallery {
	width:100%;
	height: 300px;
	background-color: $photo-background-color;
	color: $text-color-b ;
	@include center;
}

.photos{
    @include boxes;
}

// #photo2{
//     @extend #photo1;

// }

// #photo3{
// 	@include boxes;
	
// }

// h1 {
// 	text-align: center;
// }

// #box1 {
// @include box;
// @include box-size(200px, 100px);
// box-shadow: $box-shadow;
// }


// #box2 {
// @include box;
// @include box-size(400px, 100px);
// box-shadow: $box-shadow;
// }


// #box3 {
// // @include box;
// @include box-size(600px, 100px);
// // box-shadow: $box-shadow;
// @extend #box2;
// }

// #box4 {
// 	@extend #box2;
// 	 font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
// }